* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: calc(0.8em + 0.8vw);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "main-area" "aside-area" "footer-area";
    width: 100%;
    background-color: black;
    color: white;
}

footer {
    grid-area: footer-area;
    justify-items: center;
    text-align: center;
    background-color: lightgrey;
    color: black;
}

aside {
    grid-area: aside-area;
}

nav {
    position: sticky;
    top: 50%;
    transform: translate(0, -50%);
    padding: 1rem;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

#content {
    display: flex;
    grid-area: main-area;
}

#content header {
    flex-basis: 30%;
    margin: auto;
    background-color: lightgrey;
    height: 100%;
    color: white;
}

#content main {
    /*
    flex-basis: 70%;
    margin: auto;
    height: 100%;
    */
}

#articleSelection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offset {
    display: flex;
    justify-content: space-between;
}

.gradientL {
    background-image: linear-gradient(to left, #966FD6 20%, rgba(0,0,0,0) 60%); 
}

.gradientR {
    background-image: linear-gradient(to right, #966FD6 20%, rgba(0,0,0,0) 60%); 
}

.offset > span {
    margin: auto;
}

.offset > img {
    display: block;
    margin: auto;
    text-align: right;
    margin: 0.5rem;
}

.hero {
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: lightgrey;
    color: black;
    width: 100%;
    /* https://pixabay.com/illustrations/banner-technology-business-header-5185316/ */
    /*background-image: linear-gradient(rgba(145, 14, 14, 0.349), rgba(145, 14, 14, 0.349)), url("../assets/img/banner-5185316_1920.jpg");
    background-size: cover;  */  
}

article {
    margin: 1rem;
    padding: 0.5rem;
}

.ffMatemasie {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fflobster {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ffTitilliumLight {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.ffTitilliumRegular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ffTitilliumBold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ffConsolas {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.articleR {
    background-color:#FF0000;
}



/* This code is from: https://codepen.io/baarbaracrr/pen/KKovmGb */

header {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgb(23, 146, 138) 68%, rgb(171, 29, 29) 98%);
    animation: gradient 60s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

/* --- */

/* Code from https://codepen.io/HenryZarza/pen/VwYagOO */

.section {
    align-items: center;
    background: url('../assets/img/banner-5185316_1920.jpg') no-repeat center / cover;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 110vh;
    padding: 1rem;
    position: sticky;
    width: 100%;
    z-index: -1;
  }

  .section > h2 {
    padding-top: 10rem;
    margin: auto;
    flex-basis: 100%;
  }

  .section > p {
    text-align: left;
    display: block;
    margin: auto;
    flex-basis: 100%;
    color: black;
  }

  .section > a {
    display: block;
    margin: auto;
    flex-basis: 100%;
  }
  
  .section:nth-child(2) {
    background-image: url('https://images.unsplash.com/photo-1571413666114-1e5d1f2bad15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80');
      z-index: -2;
  }

  .section:nth-child(3) {
    background-image: url('https://images.unsplash.com/photo-1571413666114-1e5d1f2bad15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80');
      z-index: -3;
  }
  
  .section:nth-child(4) {
    background-image: url('https://images.unsplash.com/photo-1552224647-b3a8f931b3b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
      z-index: -4;
  }
  
  .section:last-child {
    background-image: url('https://images.unsplash.com/photo-1523712999610-f77fbcfc3843?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
    z-index: -5;
  }
  
  .title {
    color: #FFF;
    font-size: 3rem;
    text-stroke: 0.1px #000;
    -webkit-text-stroke: 1px #000;
  }
  
  @supports not (-webkit-text-stroke: 1px #000) {
    .title {
      text-shadow:
         3px  3px 0 #000,
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    }
  }

/* --- */