/* || Global selector */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* || Scrolling */
body {
    scroll-behavior: smooth;
}

/* || Global font */
body {
    font-size: calc(0.8em + 0.8vw);
}

.container {
    background-image: url("https://picsum.photos/1000/800/?blur");
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.container:first-child {

}