* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

/* || Global font */
body {
  font-size: min(20px, calc(0.8em + 0.8dvw));
}

h2 {
  font-family: "League Gothic", sans-serif;
  font-weight: 400;
  font-size: calc(3rem + 1dvw);
  text-align: center;
}
p, a {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:0;
}

.parallaxImg1 {
    background-image: url("./../img/1.jpg");
}

.parallaxImg2 {
  background-image: url("./../img/3.jpg");
}

.containerRelative {
  position: relative;
  overflow: hidden;
}

.hasBlur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.height150 {
  height: 150dvh;
}

.height100 {
  height: 100dvh;
}

.fitContent {
  height: fit-content;
}

section {
  margin-bottom: 2rem;
}

.centerMT {
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.center2 {
  position:absolute;
  top:0;
  left:50%;
  z-index:1;
}

.paddingLR15 {
  padding: 0 15dvw;
  align-items: center;
  justify-content: center;
}

.gap10 {
    display: flex;
    gap: 10rem;
    flex-direction: column;
}

.gap5 {
  display: flex;
  gap: 5rem;
  flex-direction: column;
}

.colorWhite {
  color: white;  
}

.contrast p {
  color: black;  
  background: rgba(255, 255, 255, 0.70);
  padding: 0.5rem;
}

.colorBlack {
  color: black;
}

canvas {
  width: 100%;
  height: auto;
}

.paddingT20 {
  padding-top: 20dvh;
}

.paddingT15 {
  padding-top: 15dvh;
}

.marginTB15 {
  margin: 15dvh 0;
}

video {
  width: 100%;
  max-height: 130dvh;
  position:relative;
  z-index:0;
}

@media only screen and (max-width: 960px) {
  body {
    font-size: min(16px, calc(0.8em + 0.8dvw));
  }

  h2 {
    font-size: calc(3.5rem + 1dvw);
  }

  /* Dårlig hack */
  .paddingT15 {
    padding-top: 1dvh;
  }

}





/* Nav */

/* Header */
header {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
}
#head {
  background-color: black;
  color: white;
  text-align: center;
  padding: 40px;
}

/* Navigasjon */
#menu-toggle {
  font-size: 1.5rem;
  color: black;
  max-width: 35px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}
#main-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0rem 2rem;
  padding-top: 5.5rem;
  width: 250px;
  background-color: white;
  transform: translateX(100%);
  transition: transform 0.4s ease;
}
#main-menu.active {
  transform: translateX(0);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem;
  background-color: white;
}
nav h2 {
  font-size: 1.8rem;
  color: black;
}
nav ul {
list-style: none;
padding: 0;
margin: 0;
}
nav ul li {
  padding-bottom: 1.5rem;
  font-size: medium;
}
nav ul li a {
  color: black;
  text-decoration: none;
}
nav ul li a:hover {
  color: rgb(126, 126, 126);
}
#home {
  font-weight: bold;
}


@media only screen and (max-width: 759px) {
  #main-menu {
    display: none;
  }
}

/* Media query for større skjermer */
@media only screen and (min-width: 760px) {

  /* Header */
  #head {
      padding: 5em;
  }
  
  

  /* Navigasjon */
  #menu-toggle {
      display: none;
  }
  #main-menu {
      position: relative;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      padding: 0;
      gap: 1.5rem;
      width: auto;
      transform: translateX(0);
  }
  #main-menu.active {
      position: relative;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      padding: 0;
      gap: 1.5rem;
      width: auto;
  }
  nav {
      justify-content: center;
      align-items: baseline;
  }
  nav h2 {
      padding-right: 4rem;
  }

  /*
  main {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
  }*//*
  article {
      max-width: 700px;
  }*/

}