:root {
  --main-font: "Inter", sans-serif;
  --primary-color: #333;
  --secondary-color: #f1f1f1;
}

@keyframes fadeIn {
  from {
    filter: saturate(0);
  }
  to {
    filter: saturate(1);
  }
}

body {
  height: 200vh;
  margin: 0;
  background-color: #f1f1f1;
}

header {
  display: flex;
  height: 10dvh;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.5rem;
  font-family: Inter, sans-serif;
  z-index: 9999;
  span {
    font-weight: 900;
  }
  ul {
    display: flex;
    list-style-type: none;
    a {
      text-decoration: none;
      color: white;
      padding: 0 1rem;
    }
  }
}

.parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://cdn.pixabay.com/photo/2015/09/13/03/41/man-937665_1280.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
  animation: fadeIn 5s;

  h1 {
    font-family: Helvetica, sans-serif;
    font-size: 3rem;
    height: fit-content;
    color: white;
    padding: 2rem;
    background-color: #01010169;
  }
}

.article-section {
  display: flex;
  font-family: Inter, sans-serif;
  justify-content: center;

  article {
    max-width: 65%;
    font-size: 1.2rem;
    line-height: 1.5;
    h1 {
      font-size: 2rem;
    }
    p {
      justify-self: center;
      padding: 0 1rem;
    }
  }
}

figure {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 0;

  .artimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h2 {
    width: 100%;
    color: #f1f1f1;
    font-size: 5rem;
    align-self: center;
    justify-self: center;
  }
}
