@keyframes fadeIn {
  from {
    opacity: 0;
    filter: saturate(0);
  }
  to {
    opacity: 1;
    filter: saturate(1);
  }
}

body {
  height: 200vh;
  margin: 0;
}

.parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://cdn.pixabay.com/photo/2015/09/13/03/41/man-937665_1280.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
  animation: fadeIn 0.5s;

  h1 {
    font-family: Inter, sans-serif;
    font-size: 3rem;
    height: fit-content;
    color: white;
    padding: 2rem;
    background-color: #01010169;
  }
}

.article-section {
  font-family: Helvetica, sans-serif;

  article {
    font-size: 1.2rem;
    line-height: 1.5;
    h1 {
      font-size: 2rem;
    }
    p {
      padding: 0 1rem;
    }
  }
}

figure {
  display: flex;
  margin: 0;
  padding: 0;

  h2 {
    width: 100%;
    color: #f1f1f1;
    font-size: 5rem;
    align-self: center;
    justify-self: center;
  }
}

.artimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
