* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: calc(0.8em + 0.8vw);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "main-area" "footer-area";
    width: 100%;
}

footer {
    grid-area: footer-area;
    justify-items: center;
    text-align: center;
    background-color: lightgrey;
    color: black;
    margin-top: 1rem;
}

nav {
    position: sticky;
    top: 50%;
    transform: translate(0, -50%);
}

#content {
    display: flex;
    grid-area: main-area;
}

#content header {
    flex-basis: 30%;
    margin: auto;
    background-color: lightgrey;
    height: 100%;
    margin-right: 1rem;
}

#content main {
    flex-basis: 70%;
    margin: auto;
    height: 100%;
    margin-left: 1rem;
}

#articleSelection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offset {
    display: flex;
    justify-content: space-between;
}

.offset > span {
    margin: auto;
}

.offset > img {
    display: block;
    margin: auto;
    text-align: right;
    margin: 0.5rem;
}

.hero {
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: lightgrey;
    color: black;
    width: 100%;
}

article {
    background-color: lightgray;
    margin: 1rem;
    padding: 0.5rem;
}

.ffMatemasie {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fflobster {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ffTitilliumLight {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.ffTitilliumRegular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ffTitilliumBold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ffConsolas {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}