* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: calc(0.8em + 0.8vw);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header-area" "main-area" "footer-area";
}

header {
    grid-area: header-area;
}
main {
    grid-area: main-area;

}
footer {
    grid-area: footer-area;
}

#content {
    display: flex;
}

#content header {
    flex-basis: 30%;
    margin: auto;
}

#content main {
    flex-basis: 70%;
    margin: auto;
}