* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: calc(0.8em + 0.8vw);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "main-area" "footer-area";
    width: 100%;
}

footer {
    grid-area: footer-area;
    justify-items: center;
    text-align: center;
    width: 100vw;
}

#content {
    display: flex;
    grid-area: main-area;
}

#content header {
    flex-basis: 30%;
    margin: auto;
}

#content main {
    flex-basis: 70%;
    margin: auto;
}

#articleSelection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offsetLeft {
    flex-basis: 100%;
    margin: auto;
    align-items: left;
}

.offsetRight {
    flex-basis: 100%;
}