/* Generelt */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: calc(0.6em + 0.6vw);
    font-family: sans-serif, Arial;
    display: flex;
    flex-direction: column;
    background-color: #dfbdc1;
    color: white;
    margin: 0;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: auto;
    max-width: 100%;
}

#head {
    color: white;
    text-align: center;
    padding: 40px;
    margin-top: 60px;
}

/* Navigasjon */
#menu-toggle {
    font-size: 1.5rem;
    color: black;
    max-width: 35px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
    position: fixed;
    top: 1.2rem;
    right: 2rem;
}

#main-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
    gap: 1rem;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0rem 2rem;
    padding-top: 5.5rem;
    width: 250px;
    background-color: rgb(255, 239, 239);
    transform: translateX(100%);
    transition: transform 0.4s ease;

    a {
        font-size: 0.9rem;
    }
}

#main-menu.active {
    transform: translateX(0);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

nav h2 {
    font-size: 1.7rem;
    color: black;
    margin: 0;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: rgb(126, 126, 126);
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1.5rem; 
}

nav.hidden {
    transform: translateY(-100%); 
}

#home {
    font-weight: bold;
}

/* Main */

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

.content {
    padding: 50px 80px;
    text-align: justify;
}

h2.content {
    text-align: center;
    color: #c11c1c;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.bg1 {
    background-image: url('../assets/img/graduation-6840941_1280.png');
    min-height: 500px;

}

.bg2 {
    background-image: url('../assets/img/woman-8286277_1280.jpg');
    min-height: 400px;
}

.bg3 {
    background-image: url('../assets/img/failure-6115826_1280.jpg');
    min-height: 400px;
}

.bg4 {
    background-image: url('../assets/img/stone-2127669_1280.png');
    min-height: 400px;
}

.bg5 {
    background-image: url('../assets/img/balloon-4401242_1280.png');
    min-height: 400px;
}

h2 {
    text-align: center;
    color: #c11c1c;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    text-align: center;
}

.caption span.border {
    background-color: #111;
    opacity: 0.8;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    
}

/* Footer */
footer {
    text-align: center;
    padding: 1.5rem;
    font-size: 0.8rem;
    background-color: black;
    color: white;
}

/* Media query for større skjermer */
@media only screen and (min-width: 760px) {

    /* Header */
    #head {
        padding: 5em;
    }
    
    /* Navigasjon */
    #menu-toggle {
        display: none;
    }
    
    #main-menu {
        position: relative;
        flex-direction: row;
        justify-content: flex-end; 
        align-items: center;
        background-color: white;
        padding: 0;
        gap: 1.5rem;
        width: auto;
        transform: translateX(0);
    }
    
    #main-menu.active {
        position: relative;
        flex-direction: row;
        justify-content: flex-end; 
        align-items: center;
        background-color: white;
        padding: 0;
        gap: 1.5rem;
        width: auto;
    }

    nav {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        padding: 2rem;
    }

    nav h2 {
        padding-right: 0; 
        margin: 0; 
    }

    nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 1.5rem;
    }


}

