body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial;
    height: 100%;
}

.container {
    display: flex; 
    height: 100%;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: snow;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease; 
    position: relative; 
    z-index: 1000; 
}

.sidebar.active {
    transform: translateX(0); 
}

.main-content {
    flex-grow: 1; 
    background-color: rgb(27, 34, 65);
    color: white;
    padding: 40px;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    gap: 40px; 
    margin-top: 30px;
}

.social-icons a {
    color: black;
    text-decoration: none;
}

.name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 70px;
}

.nav-menu {
    display: flex;
    flex-direction: column;
}

.nav-menu a {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}

.menu-toggle {
    display: none; 
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 20px; 
    left: 20px; 
    z-index: 1100; 
    padding: 10px; 
}

h1 {
    font-size: 48px;
    margin-bottom: 40px;
}

.featured-work {
    margin-bottom: 40px;
}

.featured-work img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
}

.featured-work h2 {
    font-size: 30px;
    margin: 10px 0;
}

.featured-work p {
    font-size: 18px;
}

.featured-work a {
    color: white;
}

p.publication-date {
    font-size: 14px;
    color: rgb(123, 123, 123);
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(191, 194, 210);
    color: white;
    padding: 20px;
    gap: 10px;
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
    .sidebar {
        position: fixed; /* Fix sidebar for mobile */
        transform: translateX(-100%); /* Hide sidebar initially */
        height: 100%;
        left: 0;
        top: 0;
    }

    .sidebar.active {
        transform: translateX(0); /* Show sidebar when active */
    }

    .menu-toggle {
        display: block; /* Show the button on mobile */
    }

    .main-content {
        margin-left: 0; /* Remove margin when sidebar is hidden */
    }
}
