/* artikkel css */

:root {
    --main-font: "Inter", sans-serif;
    --primary-color: #333;
    --secondary-color: #f1f1f1;
  }
  
  @keyframes fadeIn {
    from {
      filter: saturate(0) brightness(50%);
    }
    to {
      filter: saturate(1) brightness(100%);
    }
  }
  
  a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  
  body {
    height: 200vh;
    margin: 0;
    background-color: #f1f1f1;
  }
  

header {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: auto;
    max-width: 100%;
}
#head {
    color: white;
    text-align: center;
    padding: 40px;
    margin-top: 60px;
}

/* Navigasjon */
#menu-toggle {
    font-size: 1.5rem;
    color: black;
    max-width: 35px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
    position: fixed;
    top: 1.2rem;
    right: 2rem;
}
#main-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
    gap: 1rem;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0rem 2rem;
    padding-top: 5.5rem;
    width: 250px;
    background-color: rgb(255, 239, 239);
    transform: translateX(100%);
    transition: transform 0.4s ease;
}
#main-menu.active {
    transform: translateX(0);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;

    h2 {
        font-size: 1.5rem;
        color: black;
    }

    a {
        color: black;
        text-decoration: none;

        &:hover {
            color: rgb(126, 126, 126);
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-size: medium;
        }
      }
}

nav.hidden {
    transform: translateY(-100%); 
}
  
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    h1 {
      position: absolute;
      font-family: Helvetica, sans-serif;
      font-size: 5rem;
      height: fit-content;
      color: white;
      padding: 2rem;
      background-color: #01010169;
    }
  }
  
  .parallaxcontainer {
    position: relative;
    .parallax {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("https://cdn.pixabay.com/photo/2015/09/13/03/41/man-937665_1280.jpg");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: calc(100dvh - 7vh);
      animation: fadeIn 100ms ease;
    }
    .header {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: Helvetica, sans-serif;
      font-size: 5rem;
      height: fit-content;
      color: white;
      padding: 2rem;
      background-color: #01010169;
    }
  }
  
  .article-section {
    display: flex;
    font-family: Inter, sans-serif;
    justify-content: center;
  
    article {
      max-width: 65%;
      font-size: 1.2rem;
      line-height: 1.5;
      p {
        justify-self: center;
        padding: 0 1rem;
      }
      a {
        color: var(--primary-color);
        text-decoration: underline;
      }
      .gap {
        display: flex;
        flex-direction: column;
      }
    }
  }
  
  figure {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0;
  
    .artimg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    h2 {
      width: 100%;
      color: #f1f1f1;
      font-size: 5rem;
      align-self: center;
      justify-self: center;
    }
  }
  
  @media only screen and (min-width: 760px) {
    
    /* Navigasjon */
    #menu-toggle {
        display: none;
    }
    #main-menu {
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        background-color: white;
        padding: 0;
        gap: 1.5rem;
        width: auto;
        transform: translateX(0);
    }
    #main-menu.active {
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        background-color: white;
        padding: 0;
        gap: 1.5rem;
        width: auto;
    }

    nav {
        justify-content: center;
        align-items: baseline;

        h2 {
            padding-right: 4rem;
        }
    }
    }