/* Variabler */
:root {
    --white: white;
    --black: black;
    --light-grey: rgb(238, 238, 238);
    --dark-grey: #484848;
    --red: #c11c1c;
    --grey: grey;
    --light-grey-hover: rgb(142, 104, 104);
    --transparent-black: rgba(0, 0, 0, 0.8);
}

/* Generelt */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: calc(0.6em + 0.6vw);
    font-family: sans-serif, Arial;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    margin: 0;
}

#body-a1 {
    font-family: Inter, sans-serif;
    background-color: var(--light-grey);
    color: var(--black);
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    height: auto;
    max-width: 100%;
}

#head {
    color: var(--white);
    text-align: center;
    padding: 40px;
    margin-top: 60px;
}

/* Navigasjon */
#menu-toggle {
    font-size: 1.5rem;
    color: var(--black);
    max-width: 35px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
    position: fixed;
    right: 2rem;
}

#main-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
    gap: 1rem;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0rem 2rem;
    padding-top: 5.5rem;
    width: 250px;
    background-color: var(--white);
    transform: translateX(100%);
    transition: transform 0.4s ease;

    a {
        font-size: 1rem;
    }
}

#main-menu.active {
    transform: translateX(0);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: var(--white);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;

    h2 {
        font-size: 1.7rem;
        color: var(--black);
        margin: 0;
    }

    a {
        color: var(--black);
        text-decoration: none;

        &:hover {
            color: var(--light-grey-hover);
        }
    }

    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 1.5rem;
    }
}

nav.hidden {
    transform: translateY(-100%);
}

#home {
    font-weight: bold;
}

/* Main */
#front-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;

    article {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        padding: 1.5rem;
        background-color: var(--black);
        margin-bottom: 20px;

        img {
            max-width: 100%;
            max-height: 450px;
            height: auto;
            padding-bottom: 1rem;
        }

        time {
            font-size: 0.75rem;
            color: var(--grey);
        }

        h3 {
            margin-bottom: 0;
            font-size: 1rem;
            color: var(--white);
        }

        p {
            font-size: 0.8rem;
            letter-spacing: 0.03em;
            color: var(--white);
        }

        a {
            color: var(--white);
        }
    }
}

/* Main Article1 */
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content {
    padding: 65px;
    text-align: left;
    letter-spacing: 0.4px;


    h2 {
        text-align: center;
        color: var(--red);
        font-size: 25px;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
        padding-top: 2rem;
    }
}

.bg1 {
    background-image: url('../assets/img/school-7012848_1280.png');
    min-height: 700px;

}

.bg2 {
    background-image: url('../assets/img/man-8948930_1280.png');
    min-height: 500px;
}

.bg3 {
    background-image: url('../assets/img/failure-6115826_1280.jpg');
    min-height: 500px;
}

.bg4 {
    background-image: url('../assets/img/puzzle-654957_1280.jpg');
    min-height: 500px;
}

.bg5 {
    background-image: url('../assets/img/woman-8286277_1280.jpg');
    min-height: 500px;
}

.caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 750px;
    padding: 0 1rem;
    text-align: center;
}

.caption span.border {
    background-color: #484848;
    opacity: 0.8;
    color: #ffffff;
    padding: 1rem;
    font-size: 25px;
    letter-spacing: 5px;
    display: inline-block;
    margin-bottom: 1rem;
    max-width: 80%;
}

.border2 {
    display: flex;
    background-color: var(--dark-grey);
    opacity: 0.8;
    color: #ffffff;
    padding: 1rem;
    margin: 0 auto;
    font-size: 20px;
    width: 80%;
    letter-spacing: 4px;
}

canvas {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 3rem;
}

/* Main Article 2*/

.section1, .section2, .section3, .section4, .section5, .section6 {
    color: var(--black);

}










/* Footer */
footer {
    text-align: center;
    padding: 1.5rem;
    font-size: 0.9rem;
    background-color: var(--black);
    color: var(--white);

    ul {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding-left: 0;

        li {
            list-style: none;

            a {
                color: var(--white);
            }
        }
    }
}

/* Media query for større skjermer */
@media only screen and (min-width: 760px) {

    /* Header */
    #head {
        padding: 5em;
    }

    /* Navigasjon */
    #menu-toggle {
        display: none;
    }

    #main-menu {
        position: relative;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        background-color: var(--white);
        padding: 0;
        gap: 1.5rem;
        width: auto;
        transform: translateX(0);

        a {
            font-size: 1rem;
        }
    }

    #main-menu.active {
        position: relative;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        background-color: var(--white);
        gap: 1.5rem;
        width: auto;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    }

    nav h2 {
        padding-right: 0;
        margin: 0;
    }

    nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 1.5rem;
    }

    /* Main */
    #front-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        article {
            max-width: 700px;
        }
    }

    /* Main Article1 */
    .caption span.border {
        background-color: var(--dark-grey);
        opacity: 0.8;
        color: #ffffff;
        padding: 18px;
        font-size: 30px;
        letter-spacing: 5px;
        display: inline-block;
        margin-bottom: 1rem;
    }

    .border2 {
        display: flex;
        background-color: var(--dark-grey);
        opacity: 0.8;
        color: #ffffff;
        padding: 18px;
        font-size: 20px;
        letter-spacing: 5px;
        width: 80%;
        margin: 0 auto;

    }

    .content {
        font-family: Inter, sans-serif;
        justify-content: center;

        h2 {
            text-align: center;
            color: var(--red);
            font-size: 25px;
            letter-spacing: 4px;
            text-transform: uppercase;
            margin-bottom: 20px;
            max-width: 60%;
            margin: 0 auto;
            padding: 1rem;
        }

        p {
            max-width: 60%;
            font-size: 1.2rem;
            line-height: 1.5;
            margin: 0 auto;
        }
    }

    canvas {
        width: 100%;
        height: auto;
        max-width: 50%;
        display: block;
        margin: 0 auto;
        margin-top: 3rem;
    }

    footer {
        padding: 2rem;
        font-size: 1rem;
    }
}