/* || section og H1 */

.article-header {
    animation: fadeIn 1s ease-out;
}

.article-title {
    animation: slideInFromLeft 1s ease-out;
}

.article-intro {
    animation: slideInFromRight 1s ease-out;
}

.section-title {
    animation: slideInFromLeft 0.5s ease-out;
}

/* END */

/* || KEYFRAMES */

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
@keyframes slideInFromLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* END */

/* || TEXT STYLING */

.quote {
    font-size: 1.1rem;
    border-left: 4px solid var(--blue);
    padding-left: 1rem;
    margin: 1rem 0;
}

/* END */

/* || IMG AND IMG TEXT */

.portrait {
    width: 100%;
    margin: 0 auto;
    display: block;
}

/* END */

/* */

.article-start, .start-section1, .article-header, .article-content, .section-title, .quote {
    position: relative;
    z-index: 1; 
  }
  
  .article-start {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    max-width: 1500px;
    margin-left: auto; 
    margin-right: auto; 
  
    p {
      color: var(--white);
    }
  }
  
  .start-section1 {
    margin-top: 30rem;
    margin-bottom: 35rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 3rem;
    max-width: 600px;
  
    h2 {
      font-size: 35px;
    }
  }
  .nd2 {
    margin-top: 0;
    margin-bottom: 30rem;
  }
  
  .article-header {
    background-image: url("/public/assets/img/castle.jpg");
    color: var(--white);
    padding: 5rem 0;
    padding-bottom: 4rem;
    text-align: center;
  }
  
  .article-title {
    font-size: 45px;
    color: var(--white);
    line-height: 1.4;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: inline-block;
  }
  
  .article-intro {
    font-size: 17px;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 1rem;
    font-style: italic;
    line-height: 1.4;
    background-color: rgba(140, 74, 12, 0.7);
    padding: 10px;
    display: inline-block;
  }
  
  .article-content {
    overflow: hidden;
    padding: 2rem 0; 
    background-color: var(--white);
    position: relative;
  
    p {
      font-size: 1.1rem;
      line-height: 1.6;
      margin-bottom: 2rem;
    }
  }
  
  .article-content .inner-content {
    max-width: 800px;        
    margin: 0 auto;       
    padding: 0 2rem;          
    line-height: 1.4;        
  }
  
  .section-title {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--orange);
  }
  
  .quote {
    font-size: 1.1rem;
    border-left: 4px solid var(--blue);
    padding-left: 1rem;
    margin: 1rem 0;
  }
  
  .lykkeindex {
    margin: 1rem 0;
    line-height: 1.3;
    font-size: 13px;
  }
  
  .portrait {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  
  figure {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 1rem auto;
  }
  
  figcaption {
    font-size: 12px;
    text-align: left;
    margin-top: 0.5rem;
  }

/* */