/* Variabler */
:root {
  --white: white;
  --black: black;
  --light-grey: rgb(224, 224, 224);
  --dark-grey: #484848;
  --red: #c11c1c;
  --grey: grey;
  --light-grey-hover: rgb(142, 104, 104);
  --blue: #1e4e82;
  --orange: #e77330;
  --dark-indigo: #2c2c54;
  --deep-purple-gray: #474787;
  --cool-gray: #aaabb8;
  --green: #27a85d;
  --light-green: #e3f1e5d1;
}

/* Generelt */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

main {
  margin-top: 5rem;
}

body {
  min-height: 200dvh;
  font-size: calc(0.6em + 0.6vw);
  font-family: sans-serif, Arial;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  margin: 0;
}

#body-a1 {
  font-family: Inter, sans-serif;
  background-color: var(--light-grey);
  color: var(--black);
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
}

#head {
  color: var(--white);
  text-align: center;
  padding: 40px;
  margin-top: 4rem;
}

/* Navigasjon */
#menu-toggle {
  font-size: 1.5rem;
  color: var(--black);
  max-width: 35px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  position: fixed;
  right: 2rem;
}

#main-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  position: fixed;
  gap: 1rem;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0rem 2rem;
  padding-top: 5.5rem;
  width: 250px;
  background-color: var(--white);
  transform: translateX(100%);
  transition: transform 0.4s ease;

  a {
    font-size: 1rem;
  }
}

#main-menu.active {
  transform: translateX(0);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: white;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;

  h2 {
    font-size: 1.7rem;
    color: var(--black);
    margin: 0;
  }

  a {
    position: relative;
    color: var(--black);
    text-decoration: none;
    transition: color 0.3s;
    &.active {
      font-weight: 900;
    }

    &:hover {
      color: var(--light-grey-hover);
    }
  }

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1.5rem;
  }
}

nav.hidden {
  transform: translateY(-100%);
}

#home {
  font-weight: bold;
}

/* Main */
#front-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0;

  .articleCards {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 1.5rem;
    background-color: black;
    margin-bottom: 20px;
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.02);
    }

    img {
      max-width: 100%;
      max-height: 450px;
      height: auto;
      padding-bottom: 1rem;
    }

    time {
      font-size: 0.75rem;
      color: var(--grey);
    }

    h3 {
      margin-bottom: 0;
      font-size: 1rem;
      color: var(--white);
    }

    p {
      font-size: 0.8rem;
      letter-spacing: 0.03em;
      color: var(--white);
      line-height: 1.4;
    }

    a {
      color: var(--white);
    }
  }
}

/* Om vi ønsker ha med en "Les mer" knapp */
.read-more-btn {
  display: inline-block;
  margin-top: 10px;
  width: fit-content;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 14px;

  &:hover {
    background-color: #0056b3;
  }
}

/* Main Article1 */
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.content {
  width: 100%;
  padding: 2.5rem;
  text-align: left;
  letter-spacing: 0.4px;

  h2 {
    text-align: center;
    color: var(--red);
    font-size: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1.5;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
    padding-top: 0.5rem;
  }  
}

.speech-bubble {
  background-color: var(--light-green);
  border-radius: 10px;
  margin: 20px 0;
  padding: 1rem;
  position: relative;
  margin: 0 auto;
  width: 80%;
}

.speech-bubble::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--light-green);
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}

.bubble-text {
  color: var(--dark-grey);
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 auto;

}

.bg1 {
  background-image: url("/public/assets/img/school.png");
  min-height: 700px;
}

.bg2 {
  background-image: url("/public/assets/img/man.png");
  min-height: 500px;
}

.bg3 {
  background-image: url("/public/assets/img/employe.png");
  min-height: 500px;
}

.bg4 {
  background-image: url("/public/assets/img/failure.jpg");
  min-height: 500px;
}

.bg5 {
  background-image: url("/public/assets/img/puzzle.jpg");
  min-height: 500px;
}

.bg6 {
  background-image: url("/public/assets/img/woman.jpg");
  min-height: 500px;
}

.caption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 750px;
  padding: 0 1rem;
  text-align: center;
}

.caption span.border {
  background-color: var(--dark-grey);
  opacity: 0.8;
  color: #ffffff;
  padding: 1rem;
  font-size: 25px;
  letter-spacing: 5px;
  display: inline-block;
  margin-bottom: 1rem;
  max-width: 80%;
}

.border2 {
  display: flex;
  background-color: var(--dark-grey);
  opacity: 0.8;
  color: var(--white);
  padding: 1rem;
  margin: 0 auto;
  font-size: 20px;
  width: 80%;
  letter-spacing: 4px;
  line-height: 1.5;
}

canvas {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 3rem;
}

.chart1fig,
.chart2fig {
  align-items: center;
  margin: 0 auto;
  margin-top: 1rem;
}

/* Main Article 2*/
.article-header {
  background-color: var(--blue);
  color: var(--light-grey);
  padding: 5rem 0;
  padding-bottom: 4rem;
  text-align: center;
}

.article-title {
  font-size: 35px;
  color: var(--light-grey);
  line-height: 1.4;
}

.article-intro {
  font-size: 17px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
  font-style: italic;
  line-height: 1.4;
}

.article-content {
  max-width: 800px;
  overflow: hidden;
  padding: 2rem;
  margin: 0 auto;
  line-height: 1.4;

  p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
  }
}

.section-title {
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--orange);
}

.quote {
  font-size: 1.1rem;
  border-left: 4px solid var(--blue);
  padding-left: 1rem;
  margin: 1rem 0;
}

.lykkeindex {
  margin: 1rem 0;
  line-height: 1.3;
  font-size: 13px;
}

.portrait {
  width: 100%;
  margin: 0 auto;
  display: block;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 1rem auto;
}

figcaption {
  font-size: 12px;
  text-align: left;
  margin-top: 0.5rem;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.article-header {
  animation: fadeIn 1s ease-out;
}

.article-title {
  animation: slideInFromLeft 1s ease-out;
}

.article-intro {
  animation: slideInFromRight 1s ease-out;
}

.section-title {
  animation: slideInFromLeft 0.5s ease-out;
}

/* AOS animations */
[data-aos] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-aos="fade-up"] {
  transform: translateY(100px);
}

[data-aos="fade-down"] {
  transform: translateY(-100px);
}

[data-aos="fade-right"] {
  transform: translateX(-100px);
}

[data-aos="fade-left"] {
  transform: translateX(100px);
}

[data-aos].aos-animate {
  opacity: 1;
  transform: translate(0, 0);
}

/* Footer */
footer {
  text-align: center;
  padding: 1.5rem;
  font-size: 0.9rem;
  background-color: var(--black);
  color: var(--white);

  ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-left: 0;

    li {
      list-style: none;

      a {
        color: var(--white);
      }
    }
  }
}

/* Media query for større skjermer */
@media only screen and (min-width: 760px) {
  /* Header */
  #head {
    padding: 5em;
  }

  /* Navigasjon */
  #menu-toggle {
    display: none;
  }

  #main-menu {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--white);
    padding: 0;
    gap: 1.5rem;
    width: auto;
    transform: translateX(0);

    a {
      font-size: 1rem;
    }
  }

  #main-menu.active {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--white);
    padding: 0;
    gap: 1.5rem;
    width: auto;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  nav h2 {
    padding-right: 0;
    margin: 0;
  }

  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.5rem;
  }

  /* Main */
  #front-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    article {
      max-width: 700px;
    }
  }

  /* Main Article1 */
  .caption span.border {
    background-color: var(--dark-grey);
    opacity: 0.8;
    color: var(--white);
    padding: 18px;
    font-size: 30px;
    letter-spacing: 5px;
    display: inline-block;
    margin-bottom: 1rem;
  }

  .border2 {
    display: flex;
    background-color: var(--dark-grey);
    opacity: 0.8;
    color: var(--white);
    padding: 18px;
    font-size: 20px;
    letter-spacing: 5px;
    width: 80%;
    margin: 0 auto;
  }

  .content {
    font-family: Inter, sans-serif;
    justify-content: center;

    h2 {
      text-align: center;
      color: var(--red);
      font-size: 25px;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin-bottom: 20px;
      max-width: 60%;
      margin: 0 auto;
      padding: 1rem;
    }

    p {
      max-width: 60%;
      font-size: 1.2rem;
      line-height: 1.5;
      margin: 0 auto;
    }
  }

  .speech-bubble {
    background-color: var(--light-green);
    border-radius: 10px;
    margin: 20px 0;
    padding: 1rem;
    position: relative;
    width: 50%;
    margin: 0 auto;
  }
  
  .speech-bubble::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--light-green);
    border-bottom: 0;
    margin-left: -10px;
    margin-bottom: -10px;
  }
  
  .bubble-text {
    color: var(--dark-grey);
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 auto;
    width: 90%;
  }

  canvas {
    width: 100%;
    height: auto;
    max-width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
  }

  footer {
    padding: 2rem;
    font-size: 1rem;
  }
}

.xl-hero {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100dvw;
  background-image: url("/public/assets/img/brain.gif");
  background-size: 70%;
  background-position: center;
  filter: brightness(2) contrast(0.8);
}
