* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  margin: auto;
  scroll-behavior: smooth;
}

/* || Global font */
body {
  font-size: min(20px, calc(0.8em + 0.8dvw));
}
h2 {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: calc(5rem + 1dvw);
}
p,
a {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}



.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax:first-child {
    background-image: url("./../assets/img/1.jpg");
}

.parallaxContainer {
    position: relative;
}

header {

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Helvetica, sans-serif;
    font-size: 5rem;
    height: fit-content;
}


  .content2
    {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding-top: 3rem;
      }
  

/*
.parallax {
  background-size: cover;
  min-height: 100dvw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.parallax:first-child {
  background-image: url("./../assets/img/1.jpg");
}

.parallax:first-child h2 {
  margin-top: 0;
  padding: 15dvh;
  text-align: center;
}
*/

.parallax2 {
  background-image: url("./../assets/img/3.jpg");
}

.content {
  margin: 0 2rem;
  
  color: white;
}

.gap10 {
    display: flex;
    gap: 10rem;
    flex-direction: column;
}


.contentB {
  color: black;
}

.bufferLarge {
  height: 50dvh;
  width: 100%;
  display: inline-block;
}

.bufferMedium {
  height: 30dvh;
  width: 100%;
  display: inline-block;
}

.bufferSmall {
  height: 10dvh;
  width: 100%;
  display: inline-block;
}

canvas {
  width: 100%;
  height: auto;
}

#imageContainer {
  overflow: hidden;
  height: 80dvh;
  width: 100%;
}

#imageContainer img {
  animation: kenburns 20s infinite;
}

@keyframes kenburns {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  95% {
    transform: scale3d(1.5, 1.5, 1.5) translate3d(-490px, 120px, 0px);
    animation-timing-function: ease-in;
    opacity: 1;
  }

  100% {
    transform: scale3d(2, 2, 2) translate3d(-470px, 100px, 0px);
    opacity: 0;
  }
}

video {
  width: 100%;
  min-height: 100dvh;

  -o-filter: blur(1.5px);
  filter: blur(1.5px);
  z-index: 0;
  background-attachment: fixed;
}

.content3 {
  position: relative;
}

.content3 span {
  margin: 0 2rem;
  position: absolute;
  position: absolute;
  top: 30dvh;
  left: 0;
  z-index: 1;
  color: white;
}

@media only screen and (max-width: 960px) {
  body {
    width: 480px;
    max-width: 100%;
    font-size: min(16px, calc(0.8em + 0.8dvw));
  }

  h2 {
    font-size: calc(3.5rem + 1dvw);
  }

  video {
    width: 100%;
    min-height: 80dvh;
    height: auto;
    /*object-fit: cover;*/
  }

  /*
  .content3 span {
    top: 10dvh;
  }

  .bufferLarge {
    height: 30dvh;
  }

  .bufferMedium {
    height: 10dvh;
  }

  .bufferSmall {
    height: 5dvh;
  }*/
}

@media only screen and (max-width: 400px) {
  .canvasContainer {
    transform: scale(0.9);
  }
}