:root {
  --font: "Inter", sans-serif;
  --headline-color: #d54e76;
  --bg-color: #f1f1f1;
  --paragraph-color: #333;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

h2 {
  color: var(--headline-color);
}

p {
  color: var(--paragraph-color);
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.parallaxcontainer {
  z-index: -1;
  position: relative;
  height: 200dvh;
  .background {
    height: 300dvh;
    background-size: 200%;
    background-position: top left;
    background-repeat: no-repeat;
  }
  .bg1 {
    background-image: url("img/brain.gif");
    filter: brightness(200%) contrast(90%);
  }
  .headlineimg {
    width: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    filter: drop-shadow(3px 3px 1px var(--bg-color));
  }
}

.paragraph {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  max-width: 50%;
  margin: 0 auto;
  padding: 3rem;
  border: 10px solid var(--headline-color);
}

#myChart {
  margin: 15dvw;
  background-color: var(--bg-color);
  border: #d54e76 10px solid;
  padding: 2rem;
}

.headline {
  position: relative;
}
@media (max-width: 800px) {
  .background {
    background-size: 100%;
  }
}
